.wrapper{
    height: 500px;
    width: 800px;
    border:solid black 1px;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
}
thead{
    background-color: orange;
}
#form{
    height: 300px;
    width: 300px;
    border:solid black 1px;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
    text-align: right;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 5px 5px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}